@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Geral */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

header{
    background-color: #37588d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:24;
}

header h1{
    color: #f2f2f2;
}

nav{
    display:flex;
    gap: 24px;
}

nav a{
    text-decoration: none;
    color:#c2c2c2;
}

nav a:hover{
    color:#f2f2f2;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 100px;
}


/*Index*/
.site-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0px;
}

.courses{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 32px;
    margin-bottom: 32px;
}

.course{

}


/* Login Page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient( 136deg,rgb(149,153,226) 0%,rgb(139,198,236) 100%);
}

.login-box {
    max-width: 400px;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
}

.login-box form {
    padding: 30px 25px 25px 25px;
}

.login-box .login-title {
    border-radius: 12px 12px 0 0;
    padding: 20px;
    background-color: #2960c7;
    color: #f2f2f2;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.login-box .login-item {
    height: 48px;
    margin-bottom: 18px;
}

.login-box input {
    width: 100%; 
    height: 100%;
    padding: 0 24px; 
    border: 1px solid lightgray;
    border-radius: 12px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.login-box button {
    width: 100%; 
    height: 100%;
    border: none;
    border-radius: 12px;
    background-color: #2960c7;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background-color: #1e4e9b;
}

.login-box .register-link {
    text-align: center;
    margin-top: 12px;
    font-size: 16px;
}

.login-box .register-link a {
    color: #2960c7;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.login-box .register-link a:hover {
    text-decoration: underline;
}

.login-box .forgot-password {
    text-align: right;
    margin-top: -8px;
    margin-bottom: 12px;
    font-size: 14px;
}

.login-box .forgot-password a {
    color: #2960c7;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.login-box .forgot-password a:hover {
    text-decoration: underline;
}

/* Register Page */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient( 136deg,rgb(149,153,226) 0%,rgb(139,198,236) 100%);
}

.register-box {
    max-width: 400px;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.24);
}

.register-box form {
    padding: 30px 25px 25px 25px;
}

.register-box .register-title {
    border-radius: 12px 12px 0 0;
    padding: 20px;
    background-color: #2960c7;
    color: #f2f2f2;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.register-box .register-item {
    height: 48px;
    margin-bottom: 18px;
}

.register-box input {
    width: 100%; 
    height: 100%;
    padding: 0 24px; 
    border: 1px solid lightgray;
    border-radius: 12px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.register-box button {
    width: 100%; 
    height: 100%;
    border: none;
    border-radius: 12px;
    background-color: #2960c7;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.register-box button:hover {
    background-color: #1e4e9b;
}

.register-box .login-link {
    text-align: center;
    margin-top: 12px;
    font-size: 16px;
}

.register-box .login-link a {
    color: #2960c7;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.register-box .login-link a:hover {
    text-decoration: underline;
}
